body{
	padding: 40px;
	background-color: #FFF5EF;
}
.navbar.transparent.navbar-inverse.navbar-fixed-top .navbar-inner {
	border-width: 0px;
	-webkit-box-shadow: 0px 0px;
	box-shadow: 0px 0px;
	background-color: rgba(0,0,0,0.0);
	background-image: -webkit-gradient(linear, 50.00% 0.00%, 50.00% 100.00%, color-stop( 0% , rgba(0,0,0,0.00)),color-stop( 100% , rgba(0,0,0,0.00)));
	background-image: -webkit-linear-gradient(270deg,rgba(0,0,0,0.00) 0%,rgba(0,0,0,0.00) 100%);
	background-image: linear-gradient(180deg,rgba(0,0,0,0.00) 0%,rgba(0,0,0,0.00) 100%);
}
input{
	font-family: helvetica;
	border: 0;
	padding: 6px;
	font-size: 18px;
}
input[type="submit"]{
	background: red;
	color: white;
}
textarea:focus, input:focus, input[type]:focus, .uneditable-input:focus {   
    border-color: rgba(229, 103, 23, 0.8);
    box-shadow: 0 1px 1px rgba(229, 103, 23, 0.075) inset, 0 0 8px rgba(229, 103, 23, 0.6);
    outline: 0 none;
}



.btn-add-panel{
	background: rgba(0, 130, 0, 1);
	color: white;
}

.btn-add-panel:hover{
	color: #333;
	background-color: rgba(0, 130, 0, 0.5);
	border-color: #adadad;
}

.btn-add-panel2{
	background: rgba(0, 170, 0, 1);
	color: white;
}

.btn-add-panel2:hover{
	color: #333;
	background-color: rgba(0, 170, 0, 0.5);
	border-color: #adadad;
}

.btn-del-panel{
	background: rgba(170, 0, 0, 1);
	color: white;
}

.btn-del-panel:hover{
	color: #333;
	background-color: rgba(130, 0, 0, 0.5);
	border-color: #adadad;
}

/**/
.footer {
  position: relative;
  margin-top: -50px; /* negative value of footer height */
  height: 50px;
  clear:both;
  padding-top:20px;
  text-align: center;
} 

.footer > .btn-email{
	background: rgba(50, 50, 200, 1);
	color: white;
	margin: 20px;
}
.footer > .btn-email:hover{
	color: #333;
	background-color: rgba(50, 50, 200, 0.5);
	border-color: #adadad;
}

.centered{
	text-align: center;
}
/**/
.panel-heading2 {
  padding: 10px 15px;
  border-bottom: 1px solid transparent;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
.panel-heading2 > .dropdown .dropdown-toggle {
  color: inherit;
}
.panel-heading2 + .list-group .list-group-item:first-child {
  border-top-width: 0;
}
.panel-group .panel-heading2 {
  border-bottom: 0;
}
.panel-group .panel-heading2 + .panel-collapse .panel-body {
  border-top: 1px solid #ddd;
}
.panel-default > .panel-heading2 {
  color: #333;
  background-color: #f5f5f5;
  border-color: #ddd;
}
.panel-default > .panel-heading2 + .panel-collapse .panel-body {
  border-top-color: #ddd;
}
.panel-primary > .panel-heading2 {
  color: #fff;
  background-color: #428bca;
  border-color: #428bca;
}
.panel-primary > .panel-heading2 + .panel-collapse .panel-body {
  border-top-color: #428bca;
}
.panel-success > .panel-heading2 {
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}
.panel-success > .panel-heading2 + .panel-collapse .panel-body {
  border-top-color: #d6e9c6;
}
.panel-info > .panel-heading2 {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
}
.panel-info > .panel-heading2 + .panel-collapse .panel-body {
  border-top-color: #bce8f1;
}
.panel-warning > .panel-heading2 {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
}
.panel-warning > .panel-heading2 + .panel-collapse .panel-body {
  border-top-color: #faebcc;
}
.panel-danger > .panel-heading2 {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}
.panel-danger > .panel-heading2 + .panel-collapse .panel-body {
  border-top-color: #ebccd1;
}

